footer {
  background-color: #111; /* dark background */
  color: #eee; /* light text */
  padding: 20px 20px;
  text-align: center;
  font-family: "Avenir Next", sans-serif;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
}

.footer-copy {
  font-size: 1rem;
  opacity: 0.7;
}
