footer {
  display:flex;
  position: fixed;
  bottom: 0; 
  right: 0;
  left: 0;
  justify-content: center;
  height: 2vh;
  padding-block-start: 10%;
  background-color: #111;
  color: #eee; 
  padding: 20px 20px;
  text-align: center;
  font-family: "Avenir Next", sans-serif;
}

.footer-container {
  max-width: 1100px;

}

.footer-copy {
  font-size: 1rem;
  opacity: 0.7;
}
