.vans-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;  
}
.cat-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    

    
}
.filter{
    display: flex;
    flex-direction: row;
    gap:20px

 
}
.filter{
    
    cursor: pointer;
}
.cat-simple, .cat-luxury, .cat-rugged{
    background-color: #FFEAD0;
    padding: 10px 20px;
    border-radius: 10px;
    

}



.cat-simple:hover{
    
color: #eee;
    background-color: rgb(225, 118, 84);
    
}
.cat-rugged:hover{
    color: #eee;

    background-color: rgb(17, 94, 89);}
.cat-luxury:hover{
    color: #eee;

    background-color: rgb(0, 0, 0);
}

.clear-filter{
    text-decoration: underline;
    cursor: pointer;
    padding:10px 20px
}
.clear-filter:hover{
    transform: scale(1.05)
}
.vans-page .vans{
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}
.van-tile{
    color: black;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}
.vans .van-tile:hover{
    transform: scale(1.05);
}
.vans img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.van-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px 10px;

}
.van-title,.bold{
    font-family: "Avenir Next",inter;
    font-weight: 600;
    font-size:1.1rem ;
    
}

.category{
width: 100px;
text-align: center;
border-radius: 4px;
border: solid 1px white;
margin-left: 10px;
margin-bottom: 10px;
color: #FFEAD0;
}